<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NEXT_RASA_UI</title>
    <link rel="stylesheet" href="~/lib/elementui/elementui.css">
    @RenderSection("style", required: false)
</head>
<body>
    <div id="app">
        @RenderBody()
    </div>

    @{#if DEBUG}
        <script src="~/lib/vue/vue.js" type="text/javascript"></script>
    @{#else}
        <script src="~/lib/vue.min.js" type="text/javascript"></script>
    @{#endif}

    <script src="~/js/mixin.js"></script>
    <script src="~/lib/vue/httpVueLoader.js"></script>
    <script src="~/lib/vue/vue-router.min.js"></script>
    <script src="~/js/router.js"></script>
    <script src="~/lib/vue/axios.min.js"></script>
    <script src="~/lib/elementui/elementui.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("script", required: false)
</body>
</html>
